parameters:
  level: 5
  paths:
    - app
    - routes
    - database
  excludePaths:
    - database/migrations
  ignoreErrors:
    - '#Call to an undefined static method App\\\\Models\\\\User::(create|where)\\(\\)#'
    - '#Call to an undefined method App\\\\Http\\\\Controllers\\\\.*::authorize\\(\\)#'
    - '#Access to an undefined property App\\\\Models\\\\(Schedule|Medication|User)::\\$#'
    - '#Undefined variable: \\$this#'
